.nav-option-in-box {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.option-name-in-box {
  font-size: 10px;
  color: #bec0c8;
  margin-left: 7px;
}

.square {
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
}
