.card-big-container{
    width: 159px;
    height: 133px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 4px 16px rgba(58, 58, 58, 0.07);
    border-radius: 12px;
}

.row-icons{
    display: flex;
}

.orange-square{
    width: 30px;
    height: 26px;
    background-color:  #FF9F00;
}

.circle{
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: 1px solid #BEC0C8;
    border-radius: 50%;
}

.card-title{
    font-size: 12px;
}

.card-detail{
    font-size: 8px;
    line-height: 9px;
    color: #858A9D;
}