.nav-option{
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-bottom: 33px;
  align-items: center;
}

.square-option{
    width: 15px;
    height: 15px;
    border: 1px solid #FFFFFF;
}
  
.option-name{
    margin-left: 19px;
    color: #858A9D;
    font-size: 10px;
}