.graph-detail-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E7F1;
    margin-bottom: 15px;
}

.graph-detail-square{
    width: 28px;
    height: 28px;
    background: #FF9F00;
    border-radius: 8px; 
}

.graph-detail-text{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    align-items: flex-start;
}

.graph-detail-title{
    font-size: 10px;
}

.graph-detail-description{
    font-size: 8px;
    color: #858A9D;
}

.graph-detail-white-container{
    width: 54px;
    height: 21px;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-left: auto;
}

.graph-detail-text-into-white{
    font-size: 8px;
}