.button-container{
    width: 116px;
    height: 30px;
    background-color: #FF9F00;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.button-text{
    font-size: 10px;
    margin-left: 10px;
    color: #FFFFFF;
}

.button-icon-text{
    margin: 11px;
    color: #FFFFFF;
}

.button-icon-container{
    background: #FFB233;
    margin-right: 5px;
    border-radius: 4px;
}

.button-container{
    justify-content: space-between;
    align-items: center;
}
