.card-small-container{
    width: 159px;
    height: 79px;
    background-color: white;
    box-shadow: 0px 4px 16px rgba(58, 58, 58, 0.07);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 31px;
}

.card-small-row-icons{
    display: flex;
    justify-content: start;
    margin-left: 11px;
}

.card-small-orange-square{
    width: 30px;
    height: 26px;
    background-color:  #FF9F00;
}

.card-small-circle1{
    width: 18px;
    height: 18px;
    margin-left: 50px;
    background: #FFFFFF;
    border: 1px solid #BEC0C8;
    border-radius: 50%;
}

.card-small-circle2{
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: 1px solid #BEC0C8;
    border-radius: 50%;
    position: relative;
    left: -7px;
}

.card-small-title{
    font-size: 12px;
    text-align: start;
    margin-top: 6px;
    margin-left: 11px;
}

.card-small-detail{
    font-size: 8px;
    color: #858A9D;
    text-align: start;
    margin-top: 2px;
    margin-left: 11px;
}
